/* Styling for the notification bar */
.notification-bar {
    background-color: #d6c8ec; /* Red background color */
    color: rgb(0, 0, 0); /* Text color */
    padding: 10px; /* Padding around the content */
    text-align: center; /* Center align the text */
}

/* Styling for the close button */
.notification-bar .close-button {
    color: white; /* Text color */
    float: right; /* Float the button to the right */
    font-size: 20px; /* Font size of the button */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Show pointer cursor on hover */
}

/* Styling for the content within the notification bar */
.notification-bar .content {
    margin-bottom: 10px; /* Margin at the bottom of the content */
}
.notification-bar.image {
    width: 360px; /* Adjust the width as needed */
    height: auto; /* Let the height adjust proportionally based on the image */
}

.notification-bar.image img {
    display: block; /* Make the image a block element */
    width: 100%; /* Make the image fill the entire width of the container */
    height: auto; /* Let the height adjust proportionally based on the width */
}  